<div class="tasks-header">
    <div class="tasks-header-main">
        <div class="tasks-header-left">
            <h2 class="section-title">
                {{ getFilterTitle() }}
                <span class="task-count">({{ displayedTasksLength() }})</span>
            </h2>
        </div>
    </div>

    <div class="tasks-controls">
        <app-dashboard-tasks-header-filter [filter]="filter()" (filterChange)="setFilter($event)" />

        <app-dashboard-tasks-header-sort [sortBy]="sortBy()" (sortChange)="setSortBy($event)" />

        <app-dashboard-tasks-header-search
            [searchQuery]="searchQuery()"
            (searchQueryChange)="setSearchChange($event)"
        />
    </div>
</div>
