<app-navbar [@fadeInUp] />

<div class="dashboard-container">
    <div class="top-row">
        <app-dashboard-stats
            [taskStats]="taskStats()"
            (markAllCompleted)="markAllCompleted()"
            (clearCompleted)="clearCompleted()"
            [@fadeInLeft]
        />

        <app-dashboard-tasks
            [tasks]="tasks()"
            [filter]="filter()"
            [sortBy]="sortBy()"
            [searchQuery]="searchQuery()"
            (toggleTask)="toggleTask($event)"
            (editTask)="editTask($event)"
            (deleteTask)="deleteTask($event)"
            (filterChange)="setFilter($event)"
            (sortChange)="setSortBy($event)"
            (searchQueryChange)="setSearchChange($event)"
            [@fadeInRight]
        />
    </div>

    <div class="bottom-row">
        <app-add-task (taskAdded)="addTask($event)" [@slideDown] />
    </div>
</div>