<div class="tasks-section">
    <app-dashboard-tasks-header
        [tasks]="tasks()"
        [filter]="filter()"
        [sortBy]="sortBy()"
        [searchQuery]="searchQuery()"
        (filterChange)="setFilter($event)"
        (sortChange)="setSortBy($event)"
        (searchQueryChange)="setSearchChange($event)"
    ></app-dashboard-tasks-header>

    <app-dashboard-task-list
        [tasks]="tasks()"
        [filter]="filter()"
        [sortBy]="sortBy()"
        [searchQuery]="searchQuery()"
    />
</div>
